.form-group {
  margin: 20px;
}
.mat-form-field {
  width: 100%;
}

.mat-form-field-infix {
  padding: 0.5em 0 0.5em 0 !important;
}

.example-button-row {
  margin-top: 10px;
  top: auto !important;
  right: 50% !important;
  bottom: 10px !important;
  left: auto !important;
  position: fixed !important;
}
.footer-form{
  height: 100px;
}
