<section class="benh-theo-icd-10">
    <div class="containers">
        <h1 class="containers-title">Danh mục bệnh theo ICD10</h1>
        <div class="containers-group-button">
            <button class="btn-group" (click)="openPopUp()" mat-button="" aria-label="Thêm bản ghi mới">
                <span>Thêm bản ghi mới</span>
                <mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true"
                    data-mat-icon-type="font">add</mat-icon>
            </button>
            <button class="btn-group" (click)="capNhat(itemCheck)" mat-button="" aria-label="Sửa bản ghi">
                <span>Sửa bản ghi</span>
                <mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true"
                    data-mat-icon-type="font">edit</mat-icon>

            </button>
            <button class="btn-group" (click)="xoaBan(itemCheck)" mat-button="" aria-label="Xóa bản ghi">
                <span>Xóa bản ghi</span>
                <mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true"
                    data-mat-icon-type="font">delete</mat-icon>

            </button>
            <button class="btn-group" (click)="capNhatLaiDanhSach()" mat-button="" aria-label="Cập nhật danh sách"
                title=""><span>Cập nhật
                    danh sách</span>
                <mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true"
                    data-mat-icon-type="font">refresh</mat-icon>
            </button>
            <button class="btn-group" mat-button="" aria-label="Hướng dẫn" title=""><span>Hướng dẫn</span>
                <mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true"
                    data-mat-icon-type="font">help_outline</mat-icon>
            </button>
        </div>
    </div>
    <div>
        <form class="search-form">
            <mat-form-field class="example-form-field" appearance="outline">
                <mat-label>Tìm kiếm</mat-label>
                <input matInput type="text" placeholder="Lọc từ khóa" name="tenBenh" [(ngModel)]="searchTenBenh">
            </mat-form-field>
        </form>
    </div>

    <div class="table-container mat-elevation-z8">
        <table mat-table [dataSource]="pageSlice |  searchFilter:searchTenBenh">
            <!-- id Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <mat-radio-group aria-label="Select an option" [(ngModel)]="itemCheck">
                        <mat-radio-button [value]="element"></mat-radio-button>
                    </mat-radio-group>

                </td>
            </ng-container>

            <!-- maBenh Column -->
            <ng-container matColumnDef="maBenh">
                <th class="title-table" mat-header-cell *matHeaderCellDef> Mã bệnh </th>
                <td mat-cell *matCellDef="let element"> {{element.maBenh}} </td>
            </ng-container>

            <!-- tenBenh Column -->
            <ng-container matColumnDef="tenBenh">
                <th class="title-table" mat-header-cell *matHeaderCellDef> Tên bệnh</th>
                <td mat-cell *matCellDef="let element"> {{element.tenBenh}} </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <mat-paginator [length]="mangBenhTheoICD10.length" [pageSize]="15"
        [pageSizeOptions]="[5, 15 ,30 ,mangBenhTheoICD10.length ]" (page)="OnPageChange($event)"
        aria-label="Select page">
    </mat-paginator>

</section>