<nav class="navbar navbar-expand-lg navbar-light     " style="background-color: #e3f2fd;">
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/"><h1>Trang chủ</h1></a>
            </li>
            <li class="nav-item mx-5">
                <a class="nav-link" href="/giao-dien-benh-theo-ICD"><h1>Bệnh theo ICD</h1></a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>